/* Import the inter and zalando google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

/* tailwind css import link */
@import "tailwindcss";

body{
    font-family: "Inter", sans-serif;
    background-color: rgba(39, 37, 37, 0.688);
}
span, ul, li{
     font-family: "Zalando Sans", sans-serif;
}

/* Custom css write here */

/* Nav Placeholder edit here */
.nav-search-input::placeholder{
    position: absolute;
    margin-left: 43px !important;
    color: #b2adad;
    font-size: 15px;
    margin-top: 3px;
}


/* Customizing default Swiper navigation buttons */
/* .mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  color: #000; 
  background-color: #fff; 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
} */

/* Change icon size */
/* .mySwiper .swiper-button-prev::after,
.mySwiper .swiper-button-next::after {
  font-size: 18px;
  font-weight: bold;
} */

/* Hover state */
/* .mySwiper .swiper-button-prev:hover,
.mySwiper .swiper-button-next:hover {
  background-color: #f3f4f6;
}  */